/*
  Bordures des blocs de code
*/

.highlight pre {
    border: solid 1px #858585;
}

.highlight span.filename {
    border: solid 1px #858585;
    border-bottom: 0;
}

.highlight pre>span {
    height: 0;
    width: auto;
}

.highlighttable {
    border: solid 1px #858585;
}

.highlighttable .linenos pre,
.highlighttable .code pre {
    border: none;
}

.highlighttable span.filename {
    border: solid 0 #858585;
    border-bottom-width: 1px;
}
.inlinee{
    margin-bottom:.8rem;
    margin-top:0;
    float: right;
    margin-left: auto;
    margin-left: 1.5em;
}