.md-header {
	position: sticky;
	inset-inline: 0;
	top: 0;
	z-index: 4;
	display: block;
	color: var(--md-default-fg-color);
	background-color: var(--md-default-bg-color--light);
	backdrop-filter: blur(px2rem(8px));
}

@media print {
	.md-header {
		display: none;
	}
}

.md-header[hidden] {
	transition: transform 250ms cubic-bezier(0.8, 0, 0.6, 1);
	transform: translateY(-100%);
}

.md-header--shadow {
	box-shadow: 0 px2rem(1px) 0 var(--md-default-fg-color--lightest);
	transition: transform 250ms cubic-bezier(0.1, 0.7, 0.1, 1);
}

.md-header__inner {
	display: flex;
	align-items: center;
	padding: 0 px2rem(8px);
}

.md-header__button {
	position: relative;
	z-index: 1;
	padding: px2rem(8px);
	margin: px2rem(4px);
	color: currentcolor;
	vertical-align: middle;
	cursor: pointer;
	outline-color: var(--md-accent-fg-color);
	transition: opacity 250ms;
}

.md-header__button:hover {
	opacity: 0.7;
}

.md-header__button:not([hidden]) {
	display: inline-block;
}

.md-header__button:not(.focus-visible) {
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

.md-header__button.md-logo {
	padding: px2rem(8px);
	margin: px2rem(4px);
}

.md-header__button.md-logo :is(img, svg) {
	display: block;
	width: auto;
	height: px2rem(24px);
	fill: currentcolor;
}

.md-header__button.md-logo :is(img, svg).lucide {
	fill: transparent;
	stroke: currentcolor;
}

.no-js .md-header__button[for="__search"] {
	display: none;
}

[dir="rtl"] .md-header__button[for="__search"] svg {
	transform: scaleX(-1);
}

.md-header__topic {
	position: absolute;
	display: flex;
	max-width: 100%;
	white-space: nowrap;
	transition: transform 400ms cubic-bezier(0.1, 0.7, 0.1, 1), opacity 150ms;
}

.md-header__topic + .md-header__topic {
	z-index: -1;
	pointer-events: none;
	opacity: 0;
	transition: transform 400ms cubic-bezier(1, 0.7, 0.1, 0.1), opacity 150ms;
	transform: translateX(px2rem(25px));
}

[dir="rtl"] .md-header__topic + .md-header__topic {
	transform: translateX(px2rem(-25px));
}

.md-header__topic:first-child {
	font-weight: 700;
}

.md-header__title {
	flex-grow: 1;
	height: px2rem(48px);
	margin-inline: px2rem(8px);
	font-size: px2rem(18px);
	line-height: px2rem(48px);
	letter-spacing: -0.025em;
}

.md-header__title--active .md-header__topic {
	z-index: -1;
	pointer-events: none;
	opacity: 0;
	transition: transform 400ms cubic-bezier(1, 0.7, 0.1, 0.1), opacity 150ms;
	transform: translateX(px2rem(-25px));
}

[dir="rtl"] .md-header__title--active .md-header__topic {
	transform: translateX(px2rem(25px));
}

.md-header__title--active .md-header__topic + .md-header__topic {
	z-index: 0;
	pointer-events: initial;
	opacity: 1;
	transition: transform 400ms cubic-bezier(0.1, 0.7, 0.1, 1), opacity 150ms;
	transform: translateX(0);
}

.md-header__title > .md-header__ellipsis {
	position: relative;
	width: 100%;
	height: 100%;
}

.md-header__option {
	display: flex;
	flex-shrink: 0;
	max-width: 100%;
	white-space: nowrap;
}

.md-header__option > input {
	bottom: 0;
}

.md-header__source {
	display: none;
}

.md-header .md-icon svg {
	width: px2rem(20px);
	height: px2rem(20px);
}